{{ $cfg := .Cfg }}

{{/* HealthCheck  */}}
{{ .HealthzHost }}:{{ .HealthzPort }} {
  status 200 {{ .HealthzPath }}
}

{{ range $indexServer, $server:= .Servers }}
  {{ range $indexLocation, $location := $server.Locations }}
    {{ $host := $server.Hostname | cleanHostname }}
    {{ if not $location.IsDefBackend }}
      # {{ $location.Backend }}
      {{ $host }}:{{ $location.Port }} {
        {{ if $location.Service }}
          {{ $spec := $location.Service.Spec }}

          proxy {{ $location.Path }} http://{{ $spec | fromSpec }} {
            without {{ $location.Path }}
          }
      {{ end }}
      }
    {{ end }}
  {{ end }}
{{ end }}
