{{ $cfg := .Cfg }}

{{/* HealthCheck  */}}
{{ .HealthzHost }}:{{ .HealthzPort }} {
  status 200 {{ .HealthzPath }}
}

{{ range $indexServer, $server:= .Servers }}
  {{ range $indexLocation, $location := $server.Locations }}
    {{ $server.Hostname }}:{{ $location.Port }}{{ $location.Path }} {
      
    }
  {{ end }}
{{ end }}
