{{ $backends := .Backends }}

{{/* HealthCheck  */}}
{{ .HealthzHost }}:{{ .HealthzPort }} {
  status 200 {{ .HealthzPath }}
}

{{ range $indexServer, $server := .Servers }}
  {{ $host := $server.Hostname | cleanHostname }}
  {{ if ne $host "" }}
    {{ $host }} {
      log / stdout "{combined} {upstream} {rewrite_path}"
      tls {$ACME_EMAIL}
      # tls self_signed
      # tls off

      {{ range $indexLocation, $location := $server.Locations }}
        rewrite {{ $location.Path }} {
          r .*
          to /{{ $location.Backend }}{path}
        }
      {{ end }}

      {{ range $indexBackend, $backend := $backends }}
        # internal /{{ $backend.Name }}
        proxy /{{ $backend.Name }} {
          transparent
          without /{{ $backend.Name }}
          {{ range $indexEndpoint, $endpoint := $backend.Endpoints }}
            upstream {{ $endpoint.Address }}:{{ $endpoint.Port }}
          {{ end }}
        }
      {{ end }}

    }
  {{ end }}
{{ end }}
